.CardContainer {
border: 1px solid #DEDEDE;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0 auto;
    justify-items: center;
    align-items: stretch;
    width: 100%;
    height: 100%;
    gap:16px;
}

/*

*/

.ContainerTitles {
    display: flex;
    width: 100%;
    justify-content: space-between;
}