.card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    /*  Not good solution*/
    width: 100%;
    perspective: 1000px;
    background: transparent;
    outline: 0;
    border: 0;
    aspect-ratio: 4/5;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.cardContent {
    width: 100%;
    height: 216px;
    background: var(--white);
    position: relative;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    display: block;
}

.cardTitle {
    display: flex;
    flex-wrap: nowrap;
    font-size: 1rem;
    color: var(--text);
    margin-top: 4px;
    overflow: hidden;
}

.cardDescription {
    display: flex;
    flex-wrap: nowrap;
    font-size: 1rem;
    color: var(--text);
    margin-top: 4px;
    font-weight: 200;
    overflow: hidden;
}

.cardImage {
    display: flex;
    left: 0;
    border-radius: 8px;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    width: auto;
    object-fit: contain;

}

.cardFront,
.cardBack {
    position: absolute;
    width: 80%;
    height: 80%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.cardBack {
    background-color: var(--white);
    color: white;
    transform: rotateY(180deg);
}

.backBackground {
    background-color: var(--card-background)
}

.reverse {
    transform: rotateY(180deg);
}

.normal {
    transform: rotateY(0);
}

.removed {
    opacity: 0;
}